<h1>TradeCalc - Share trading calculator</h1>

<p>This is my little pet side project to implement Daryl Guppy's trade
calculations spreadsheet as a web application.</p>

<h2>What's a "trade calculator"?</h2>

<p>You're imagining a calculator right now, with buttons, and a screen, which you
use for adding/subtracting/dividing/etc, aren't you. Probably something like
this:</p>

<a href="http://www.flickr.com/photos/twylo/1388765993/" title="HP 35 Calculator by Twylo, on Flickr"><img src="http://farm2.static.flickr.com/1122/1388765993_6e9e3fc098_m.jpg" width="213" height="240" alt="HP 35 Calculator"></a>

<p><strong>Well, that's pretty much exactly what this <em>isn't</em>!</strong></p>

<p>TradeCalc is a simple tool for share traders to help calculate the potential <strong>risk</strong>,
and <strong>profitability</strong>, of buying <strong>shares</strong>.</p>

<p>It <strong>does not</strong> help you calculate your <em>stop
loss</em> or your <em>target exit</em> price, but once you have those
numbers, it will calculate how much <strong>risk</strong> a trade exposes you to, and
how much you can <strong>profit</strong> from it.</p>

<ol>
  <li>Manage your RISK</li>
  <li>Benchmark your returns</li>
  <li>Make a PROFIT</li>
</ol>

<blockquote>"All courses of action are risky, so prudence is not in avoiding
danger (it’s impossible), but calculating risk and acting decisively.
"</blockquote>

<h3>Some other things which this simple tool isn't:</h3>
<ul>
  <li>It's not a technical analysis tool</li>
  <li>It's not a charting tool</li>
  <li>It's not an automated trading system</li>
  <li>It's not really a portfolio manager</li>
</ul>

<p>It just helps you to make two very important calculations before entering a
trade:</p>

<h2>Calculating risk</h2>

<p>Before you enter a trade, you need to calculate how much you stand to loose
based on your <strong>"stop loss"</strong> exit price if the trade goes bad.
Trading for profit is as much about managing risk, as it is getting a good
exit price. Your stop loss exit price is the point at which you make the
objective to decision to exit a trade that has gone bad before you stand to
loose too much money on it.</p>

<p>When you sign up and create a profile, you can enter your available trading
capital, and select how much of it you are willing to expose to risk on any
given trade. The actual number you enter will depend on many personal factors,
but a recommended amount might be around 2% of your total trading capital.</p>

<p>This tool then simplifies and automates the process of calculating the risk
on each trade and comparing it to your risk profile.</p>

<h2>Calculating profitability</h2>

<p>Once you have assessed the potential <strong>risk</strong>, the next step
is to use your <strong>target exit price</strong> to calculate the potential
<strong>profit</strong> and compare it to a <strong>benchmark</strong>.</p>

<p>Each trader should have their own <strong>benchmark</strong> for
comparison, for example the most basic benchmark would be the interest
accumulated from simply leaving your money in the bank. If a trade doesn't
offer more potential profit than your personal benchmark, it's not worth
entering in the first place.</p>

<p>When you enter your <strong>target exit price</strong>, this tool will automatically tell
you the total profit to be gained as a dollar amount &amp; percentage that you
can easily compare to your benchmark.</p>

<h3>Obtaining the "stop loss" and "target exit" price</h3>

<p>This tool <strong>does not</strong> help you calculate your <em>stop
loss</em> or your <em>target exit</em> price - once you have those
numbers, it will calculate how much <em>risk</em> a trade exposes you to, and
how much you can <em>profit</em> from it.</p>

<p>For obtaining a stop-loss or target exit price, try one of the following means:</p>
<ul>
  <li>Use <a href="http://en.wikipedia.org/wiki/Point_and_figure_chart" target="_new">Point & Figure charts</a> to determine <strong>support &amp; resistance</strong> levels</li>
  <li>Use <a href="http://en.wikipedia.org/wiki/Trend_line_(technical_analysis)" target="_new">trend lines</a> to judge <strong>entry &amp; exit</strong> prices </li>
  <li>Various <a href="http://en.wikipedia.org/wiki/Technical_analysis" target="_new">technical analysis</a> indicators such as <a href="http://en.wikipedia.org/wiki/MACD" target="_new">MACD</a>, <a href="http://en.wikipedia.org/wiki/Stochastic_oscillator" target="_new">Stochastics</a>, <a href="http://en.wikipedia.org/wiki/Moving_average" target="_new">EMA</a>, <a href="http://en.wikipedia.org/wiki/Williams_%25R" target="_new">%R</a>, etc.</li>
  <li><a href="http://en.wikipedia.org/wiki/Fundamental_analysis" target="_new">Funamental analysis</a></li>
  <li>A combination of all of the above</li>
</ul>

<h3>Tade logs</h3>

<p>It also provides a simple trade log tool which can be used to record your
trades and track your earnings. Kind of like a simple portfolio tool.</p>

<h3>Live quotes</h3>

<p>It currently pulls in quote data from Yahoo Finance. Not sure of the legality of that, but it's quite handy.</p>
