<h2><%= link_to 'Members', :action => 'index' %> &raquo; <%= @current_member.name %></h2>

<p class="epicenter"><%= link_to 'Click here', member_trade_calculations_path(:member_id => @current_member) %> to view your trade calculations &raquo;</p>
